<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorteos</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script src="jquery-3.5.1.min.js"></script>
</head>
<body>
    <h1>Sorteos</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>