<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorteo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a  class="nav-link active" href="#">Realizar sorteo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('inicial')}}">Participantes</a>
          </li>


        </ul>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">

        <h1 >Sorteos</h1>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-5 mx-auto justify-content-center  ">
                <h3>Premios</h3>
                <table class="table tablas" >
                    <thead>
                        <tr class="tableHead">
                            <th scope="col">Código</th>
                            <th scope="col">Desscripción</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for premio in premios %}
                            <tr>
                                <td>{{premio.codigo}}</td>
                                <td>{{premio.descripcion}}
                                <td>{{premio.cantidad}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

        <div class="row">
             <div class="col-sm-2 mx-auto justify-content-center  ">
                 <form action="{{url_for('sortear')}}" method="POST">
                     <div class="form-group ">
                         <button class="boton btn btn-primary mx-0" type="submit" onclick="return confirm('Quieres realizar el sorteo ?')">Realizar sorteo</button>
                     </div>
                 </form>
                 <br>


             </div>
             {%- for category, message in get_flashed_messages(with_categories = true) %}

                {% if category=="error" %}
                    <div class = "alert alert-danger">

                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">

        {% for participante in participantes%}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{participante.nombres}} {{participante.apellido}}</h5>
                    <p class="card-text">{{participante.premio}}</p>
                 </div>
            </div>
        </div>
        {% endfor %}


    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>